.banner02 .inner{
margin: 0 auto;
width: 100%;
height: 100%;
}
/* 배너 전체 */
.banner02_wrap {
width: 100%;
margin-bottom: 50px;
}
/* 배너 타이틀 */
.banner02_title {
font-size: 20px;
padding: 50px 0 40px 0;
}
.banner02_inner {
width: 100%;
}
/* 내용 */
.banner02_inner {
display: flex;
justify-content: center;
padding-bottom: 3%;
width: 100%;
}
.banner02_inner h3 {
font-size: 17px;
padding: 25px 0 15px 0;
}
.banner02_inner p {
font-size: 16px;
text-align: center;
}
.banner02_inner img {
border-radius: 10px;
}
.banner02_inner img:hover {
transition: 0.3s;
scale: 1.05;
}
.banner02_section1_img {
overflow: hidden;
}
.banner02_section1 {
margin-right:25px ;
display: flex;
flex-direction: column;
align-items: center;
}
.banner02_section2 {
display: flex;
flex-direction: column;
align-items: center;
}
.banner02_section3 {
margin-left: 25px;
display: flex;
flex-direction: column;
align-items: center;
}
.b2anner0_span {
color: #ae85c9;
}
.banner02_block {
display: none;
}
.banner02_block2 {
display: none;
}
.b2anner0_span {
font-size: 17px;
}
/* 버튼 */
.banner02 button {
display: flex;
text-align: center;
margin: 0 auto;
border: none;
border-radius: 10px;
font-size: 16px;
font-weight: bold;
padding: 12px 30px;
background-color: #ae85c9;
color: #ffff;
cursor: pointer;
}
.banner02 button:hover {
background-color: #a07bb9;
}
.banner02 button:active {
background-color: #ae85c9;
}

/* 반응형 */
@media all and (max-width: 1212px){
.banner02_inner h3 {
font-size: 16px;
padding: 18px 0 13px 0;
}
.banner02_inner p {
font-size: 15px;
text-align: center;
}
.b2anner0_span {
font-size: 16px;
}
.banner02 button {
border-radius: 10px;
font-size: 15px;
padding: 10px 28px;
}
.banner02_hide {
display: none;
}
.banner02_block {
display: block;
}
}

/* 태블릿 아래 */
@media all and (max-width: 1023px){
.banner02_inner {
width: 100%;
display: flex;
flex-direction: column;
margin: 0 auto;
padding-bottom: 0;
}
.banner02_inner img {
width: 65%;
}
.banner02_inner p {
font-size: 15px;
text-align: center;
padding-bottom: 55px;
}
.banner02_section1 {
margin-right:0px ;
}
.banner02_section3 {
margin-left: 0px;
}
}

@media all and (max-width: 950px){
.banner02_inner img {
width: 70%;
}
}

@media all and (max-width: 900px){
.banner02_inner img {
width: 75%;
}
}

@media all and (max-width: 850px){
.banner02_inner img {
width: 80%;
}
}

@media all and (max-width: 800px){
.banner02_inner img {
width: 85%;
}
}

@media all and (max-width: 750px){
.banner02_inner img {
width: 95%;
}
}

@media all and (max-width: 650px){
.banner02_inner p {
font-size: 15px;
text-align: center;
padding-bottom: 35px;
}
.banner02_section1 {
margin-right:0px ;
}
.banner02_section3 {
margin-left: 0px;
}
}

@media all and (max-width: 550px){
.banner02_inner h3 {
font-size: 15px;
padding: 18px 0 13px 0;
}
.b2anner0_span {
font-size: 15px;
}
.banner02_inner p {
font-size: 14px;
text-align: center;
}
.banner02 button {
border-radius: 10px;
font-size: 14px;
padding: 10px 26px;
}
}
@media all and (max-width: 350px){
.banner02_inner h3 {
font-size: 14px;
padding: 18px 0 13px 0;
}
.b2anner0_span {
font-size: 14px;
}
.banner02_inner p {
font-size: 13px;
text-align: center;
}
.banner02 button {
border-radius: 10px;
font-size: 13px;
padding: 8px 24px;
}
}