@charset "utf-8";
.newclass {
    padding-top: 70px;
    /* background-color: #d1c3ff52; */
}
.mynewclass2-1 {
    padding-top: 70px;
    padding-bottom: 70px;
    /* background-color: #d1c3ff52; */
}

.mynewclass {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.classtop{
    width: 100%;
    position: relative;
}
.classtop .swiper-button-prev{
    right: 50px;
    left: auto;
}
.classtop .swiper-button-next:after, 
.classtop .swiper-button-prev:after{
    font-size: 20px;
    font-weight: 700;
}
.classtop h2 {
    font-size: 20px;
    padding: 20px 0px;
    color: #393939;
}
.mynewclass2podo {
    font-size: 30px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    padding-top: 20px;
}
.mynewclass2-1{
    width: 100%;
}
.mynewclass2-2 {
    width: 100%;
    padding-top: 10px;
}
.mynewclass2-2 h3 {
    font-size: 15px;
    line-height: 20px;
    text-align: left;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width: 100%;
}
.mynewclass2-2 h4 {
    color: #ababab;
    font-size: 12px;
    line-height: 0.875rem;
    font-weight: 400;
    text-align: left;
}
.class .swiper {
    width: 100%;
    height: 100%;
  }

.class .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.class .swiper-slide img {
    display: block;
    width:100%;
    height: 100%;
    object-fit: cover;
  }

  .class .swiper-slide img:hover{
    width: 100%;
    filter: brightness(1.2);
}

.podo22 {
    font-size: 30px;
    color: #ae85c9;
}

.podo33 {
    font-size: 15px;
    color: #9a9ba7;
}
.mynewclass3 {
    width: 50%;
    height: 500px;
    padding-left: 3%;
}
.mynewclass33 {
    padding-right: 15px;
    width: 100%;
    margin: 0 auto;
    max-height: 398px;
    overflow: auto;
    padding-top: 20px;
}
#myclass322{
    font-size: 20px;
}
.mynewclass3-inner {
    margin-bottom: 20px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
.mynewclass33::-webkit-scrollbar {
    width: 4px;
    height: 20px;
}
.mynewclass33::-webkit-scrollbar-thumb {
    /* background: #ae85c9; */
    background: #cdccce;
    /* border: 2px solid #9b6a2f;  */
    border-radius: 12px 12px 12px 12px;
}
.mynewclass33::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
}
.mynewclass33::-webkit-scrollbar-track {
    background: #f7f7f7;
}
.mynewclass3-1 {
    width: 30%;
}

.mynewclass3-1 img {
    width: 100%;
    cursor: pointer;
}
.mynewclass3-1 img:hover {
    width: 100%;
    filter: brightness(1.2);
}
.mynewclass3-2 {
    width: 100%;
    padding: 5px 0px;
    max-width: 125px;
}
.mynewclass3-1 h3 {
    font-size: 0.875rem;
    line-height: 20px;
}
.mynewclass3-2 h4 {
    color: #ababab;
    font-size: 0.6875rem;
    line-height: 0.875rem;
    font-weight: 400;
}
.scrollable-content {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

@keyframes scrollAnimation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-400px);
    }
    100% {
        transform: translateY(0px);
    }
}

.bottom-btn {
    position: relative;
    display: block;
    height: 40vw;
    min-height: 200px;
    max-height: 400px;
}

.bottom-btn .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signup {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.signup p {
    font-size: 32px;
    font-family: "Pretendard-Regular", "Noto Sans KR", sans-serif;
    font-weight: 800;
    margin-bottom: 5%;
}
.signup2 {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* 왼 */
.left-btn {
    position: relative;
    width: 30%;
    height: 100%;
    padding: 1.7% 0.5%;
    border-radius: 13px;
    background-color: #ae85c9;
    right: 1%;
    transition: background-color 0.3s ease;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.left-btn:hover {
    background-color: #a07bb9;
    transform: scale(1.02);
}
  .left-btn a {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.left-txt {
    position: relative;
    display: block;
    font-weight: 800;
    width: 50%;
    height: auto;
    text-align: center;
}

.left-txt p {
    font-size: 25px;
    color: #fff;
    letter-spacing: 0.1em;
}
.left-img {
    position: relative;
    display: block;
    width: 50%;
    /* background-color: yellowgreen; */
    margin-left: 5%;
}
.left-img img {
    width: 40%;
}
/* 오 */
.right-btn {
    position: relative;
    display: block;
    width: 30%;
    height: 100%;
    /* margin-top: 50px; */
    padding: 1.7% 0.5%;
    border-radius: 13px;
    background-color: #31302b;
    left: 1%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
.right-btn:hover {
    background-color: #393836;
    transform: scale(1.03);
}
.right-btn a {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.right-txt {
    position: relative;
    display: block;
    font-weight: 800;
    width: 50%;
    height: auto;
    text-align: center;
}
.right-txt p {
    color: #fff;
    font-size: 25px;
    letter-spacing: 0.1em;
}
.right-img {
    position: relative;
    display: block;
    width: 30%;
}
.right-img img {
    width: 45%;
}
/* 포도 혜택 */
.classbenefits {
    padding: 70px 0;
    background-color: #d1c3ff52;
}
/* 반응형 디자인 */
@media all and (max-width: 1420px) {
    .mynewclass3-1 h3 {
        font-size: 0.875rem;
        line-height: 20px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

 
}

@media all and (max-width: 1024px) {
    .signup p {
        font-size: 30px;
        margin-bottom: 5.5%;
    }
    .right-txt p {
        font-size: 20px;
    }
    .left-txt p {
        font-size: 20px;
    }
    .left-btn {
        width: 42%;
        /* padding: 2.5% 2%; */
    }
    .right-btn {
        width: 42%;
        /* padding: 2.5% 2%; */
    }

}
@media all and (max-width: 760px) {
    .mynewclass2-2 h3 {
        font-size: 13px;
    }
    .mynewclass2-2 h4 {
        font-size: 11px;
      
    }
    
}
@media all and (max-width: 700px) {
    .podo33 {
        display: none;
    }
    .mynewclass3 {
        width: 100%;
        border-right: none;
        height: auto;
    }
    .mynewclass33 {
        height: 395px;
        overflow: auto;
    }
    .mynewclass3-inner {
        display: flex;
        justify-content: space-between;
    }
    .mynewclass3-1 {
        overflow: hidden;
    }
    .mynewclass3-1 img {
        width: 100%;
    }
    .mynewclass3-2 h3 {
        font-size: 14px;
    }
    .mynewclass3-2 h4 {
        font-size: 12px;
    }
    .mynewclass3-2 {
        width: 100%;
        padding: 5px 0px;
    }
    .mynewclass3-1 h3 {
        font-size: 0.875rem;
        line-height: 20px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .right-txt p {
        font-size: 15px;
    }
    .left-txt p {
        font-size: 15px;
    }
    .left-btn {
        position: relative;
        width: 42%;
        height: 120%;
        /* margin-top: 28px; */
        border-radius: 5px;
        right: 1%;
    }
    .right-btn {
        position: relative;
        width: 42%;
        height: 120%;
        /* margin-top: 28px; */
        border-radius: 5px;
        left: 1%;
    }
    .bottom-btn {
        position: relative;
        display: block;
        /* height: 300px; */
    }

}

@media all and (max-width: 480px) {
    .signup p {
        font-size: 18px;
    }
    .right-txt p {
        font-size: 13px;
    }
    .left-txt p {
        font-size: 13px;
    }
    .left-btn {
        position: relative;
        width: 42%;
        height: 120%;
        /* margin-top: 28px; */
        border-radius: 5px;
        padding: 2.5% 3%;
        right: 1%;
    }
    .right-btn {
        position: relative;
        width: 42%;
        height: 120%;
        /* margin-top: 28px; */
        border-radius: 5px;
        padding: 2.5% 3%;
        left: 1%;
    }
    .bottom-btn {
        position: relative;
        display: block;
    }

}
@media all and (max-width: 320px) {
    .signup p {
        font-size: 15px;
    }
    .right-txt p {
        font-size: 10px;
    }
    .left-txt p {
        font-size: 10px;
    }
    .left-btn {
        position: relative;
        width: 42%;
        height: 96%;
        /* margin-top: 28px; */
        padding: 3% 3%;
        border-radius: 5px;
        right: 1%;
    }
    .right-btn {
        position: relative;
        width: 42%;
        height: 96%;
        /* margin-top: 28px; */
        padding: 3% 3%;
        border-radius: 5px;
        left: 1%;
    }
    .bottom-btn {
        position: relative;
        display: block;
    }

}
/* 자주 묻는 질문 */

.class2 {
    background-color: #f7f7f7;
    padding: 70px 0;
    padding-bottom: 41px;
}
.col2 {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
}

.myclass-notice {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.myclass4 {
    width: 50%;
    padding-right: 3%;
}
.myclass4 h2{
    font-size: 20px;
}
#myclass33{
    font-size: 20px;
}
/* myclass5 */
.myclass5 {
    width: 50%;
    padding-left: 3%;
}
.q:after {
    transform: rotate(0deg);
    transition: 0.25s;
}
.qna {
    margin: 40px 0px 20px;
}
.qna .box.text {
    padding: 20px 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.qna .box.text > h2 {
    text-align: left;
    position: relative;
    font-size: 20px;
}

.qna .box.text > h2:after {
    content: "\f054";
    font-family: "Font Awesome 5 free";
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(0deg);
    transition: 0.25s;
}

.qna .box.text.qna_show > h2:after {
    transform: rotate(90deg);
}

.qna .box.text > h2:before {
    content: "Q. ";
}

.qna .box.text > .box_content {
    overflow: hidden;
    font-size: 16px;
    margin-top: 15px;
}

.qna .box.text > .box_content p:first-of-type:before {
    content: "A. ";
    font-weight: bold;
}

.accordion-title {
    font-family: "Pretendard-Regular", "Noto Sans KR", sans-serif;
}
.accordion button .accordion-title {
    font-size: 16px;
}
.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded="true"] {
    border-bottom: 1px solid #ae85c9;
}
.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}
.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: #ae85c9;
}
.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: #ae85c9;
    border: 1px solid #ae85c9;
}
.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
    transition: 1s;
}
.accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
    transition: 1s;
}
.accordion button[aria-expanded="true"] {
    color: #ae85c9;
}
.accordion button[aria-expanded="true"] .icon::after {
    width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}
.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}
.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
    line-height: 1.3;
}

@media screen and (max-width: 879px) {
    .qna .box.text > .pobi {
        transform: rotate(0deg);
        transition: 0.25s;
    }
    .qna-item .question {
        font-size: 14px;
    }
    .qna .box.text > h2 {
        text-align: left;
        position: relative;
        font-size: 16px;
    }
    .box_content p{
        line-height: 1.2;
       }
}

@media screen and (max-width: 720px) {
    .myclass4 {
        width: 100%;
        padding-left: 3%;
        padding-bottom: 20px;
    }
    .myclass5 {
        width: 100%;
        padding-left: 3%;
    }
    .myclass-notice {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .qna .box.text {
        padding: 20px 18px;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-bottom: 20px;
        font-size: 0.7em;
    }
    .qna .box.text > h2::after {
        content: "";
        font-family: "Font Awesome 5 free";
        position: absolute;
        right: 0;
        top: 0px;
        transform: rotate(0deg);
        transition: all 0.25s ease 0s;
    }
    .qna-item .question {
        font-size: 14px;
    }
    .qna-item .answer-article {
        font-size: 14px;
    }
    .box_content > p {
        font-size: 12px;
    }
    #answer-cnt {
        font-size: 12px;
    }
    .accordion .accordion-content p {
        font-size: 13px;
    }
    .accordion button .accordion-title {
        font-size: 14px;
    }
    .qna .box.text > h2 {
        text-align: left;
        position: relative;
        font-size: 16px;
    }
    .box_content p{
     line-height: 1.2;
    }
}
@media (max-width: 390px){
.th1, .th2, .td2, .td3 {
    font-size: 11px;
    font-weight: bold;
}
 
}
@media screen and (max-width: 320px) {
    .qna-item .question {
        font-size: 12px;
    }
    .box_content > p {
        font-size: 12px;
    }
    
    .qna-item .answer-article {
        font-size: 13px;
    }
    .qna .box.text > h2 {
        text-align: left;
        position: relative;
        font-size: 14px;
    }
    #answer-cnt {
        font-size: 12px;
    }
    .accordion .accordion-content p {
        font-size: 13px;
    }
    .accordion button .accordion-title {
        font-size: 14px;
    }
    .box_content p{
        line-height: 1.2;
       }
}
