@charset "utf-8";

.visual {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 50px;
    letter-spacing: 0.7px;
}
.visual_title {
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    font-family: "Pretendard-Regular", "Noto Sans KR", sans-serif;
    padding: 80px 0% 50px 0%;
}
.visual_content_box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.visual_left_content {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.visual_left_content > a {
    width: 100%;
    padding: 15% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.visual_left_content > a > div > span {
    display: block;
    padding: 15px 0 0 0;
    font-weight: 700;
    color: #f0f0f0;
    font-size: 18px;
    letter-spacing: 1.5px;
}
.visual_class {
    position: relative;
    display: block;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
    background-color: #a47fbc;
}
.visual_class:hover div {
    transform: scale(1.125);
    transition: all 0.3s;
}
.visual_board {
    position: relative;
    display: block;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
    background-color: #a47fbc;
}
.visual_board:hover div {
    transform: scale(1.125);
    transition: all 0.3s;
}
.visual_board {
    position: relative;
    display: block;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
    background-color: #a47fbc;
}
.link {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    border-radius: 10px 0px 0px 0;
    background-color: #fff;
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.05);
    font-size: 14px;
}
.visual_right_content {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.visual_timetable {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    border: solid #dddddd 1px;
}
.visual_timetable_date {
    width: 100%;
    text-align: left;
    background-color: #969497;
    border-radius: 10px 10px 0 0;
    font-size: 17px;
    color: #fff;
    padding: 20px 0px 20px 25px;
}
.visual_timetable_table {
    width: 100%;
    text-align: center;
}
.visual_timetable_table th, td {
    height: 50px;
    font-size: 15px;
    vertical-align: top;
    vertical-align: bottom;
    vertical-align: middle;
    white-space: nowrap;
}
.visual_timetable_table th {
    font-weight: 700;
    font-size: 16px;
}
.visual_timetable_class_date {
    font-weight: 700;
}
.visual_timetable_class_success {
    color: #a47fbc;
}
.visual_timetable_class {
    font-weight: 700;
    cursor: pointer;
}
.visual_timetable_class:hover {
    color: #a47fbc;
}
td > br{
    display: none;
}
@media all and (max-width: 1080px) {
    .visual_timetable_table th,
    .visual_timetable_tabletd {
        white-space: wrap;
    }
    .visual_board {
        margin-right: 0;
    }
    .visual_content_box {
        flex-direction: column;
    }
    .visual_left_content {
        width: 100%;
    }
    .visual_left_content > a {
        padding: 8% 0;
    }
    .visual_left_content > a > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .visual_left_content > a > div > span {
        padding: 0;
    }
    .visual_left_content > a > div > img {
        width: 80px;
        margin-right: 15px;
    }
    .visual_right_content {
        width: 100%;
        margin-top: 15px;
    }
}
@media all and (max-width: 760px) {
    .visual_left_content > a > div > img {
        width: 60px;
    }
    .visual_timetable_date {
        font-size: 16px;
        color: #fff;
        padding-left: 27px;
    }
    .visual_timetable_table th,
    .visual_timetable_table td {
        width: 200px;
        height: 50px;
        text-align: center;
        font-size: 12px;
        vertical-align: top;
        vertical-align: bottom;
        vertical-align: middle;
        padding: 10px;
    }
    .visual_timetable_table th,
    .visual_timetable_table td {
        font-size: 13px;
    }
    .visual_timetable_table th {
        font-size: 17px;
        font-weight: 700;
    }
}
@media all and (max-width: 700px) {
    .class {
        padding: 30px 0;
    }
    .myclass {
        flex-direction: column;
        align-items: center;
    }
    .visual_timetable_date {
        font-size: 16px;
        padding-left: 20px;
    }
    .visual_timetable_table th,
    .visual_timetable_table td {
        font-size: 12px;
        font-weight: 700;
    }
    .visual_timetable_table th {
        font-size: 16px;
        font-weight: 700;
    }
}

@media all and (max-width: 480px) {
    td > br{
        display: block;
    }
    .link {
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 7px 10px;
        font-size: 12px;
    }
    .visual_left_content > a > div > img {
        width: 50px;
    }
    .visual_timetable_table th {
        font-size: 15px;
        font-weight: 700;
    }
}
@media screen and (max-width: 390px){
    .visual_timetable_table th,
    .visual_timetable_table td {
        font-size: 11px;
    }
}
@media all and (max-width: 320px) {
    .visual_timetable_date {
        font-size: 16px;
        padding-left: 20px;
    }
    .visual_timetable_table th {
        font-size: 14px;
        font-weight: 700;
    }
}